<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>INICIO</title>
  </head>
  <body>

     <% include partials/navigation.ejs %>

    <h1>¡¡hola registrate ahora!!</h1>
  </body>
</html>
